.contenedor{
    width: 100%;
    overflow: hidden;
}

.slider__contenedor{
    width: 100%;
    display: flex;
}

.contenido__slider{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido__slider:nth-child(2){
    background: rgb(233, 202, 161);
    /*background: rgb(233, 202, 161);*/
    /*background: url(../img/img_inicio_2.jpg);*/
}

.contenido__slider:nth-child(3){
    background: rgb(233, 202, 161);
    /*background: rgb(168, 148, 120);*/
}

.contenido__slider > img{
    width: 900px;
    height: 400px;
    filter: drop-shadow(15px 35px 10px #000) brightness(0.91);
    
}

.contenido__slider > div{
    width: 40%;
}

.h2__slider{
    font-weight: 300;
    text-align: justify;
    line-height: 25px;
}

@media screen and (max-width: 1600px){
    .contenido__slider > img{
        width: 700px;
        height: 350px;
    }

    .contenido__slider > div{
        width: 40%;
    }

    .contenido__slider h2{
        font-size: 23px;
    }
}

@media screen and (max-width: 1300px){
    .contenido__slider > img{
        width: 570px;
        height: 300px;
    }

    .contenido__slider > div{
        width: 40%;
    }

    .contenido__slider h2{
        font-size: 23px;
    }
}

@media screen and (max-width: 900px){
    .contenido__slider > img{
        width: 400px;
        height: 300px;
    }

    .contenido__slider > div{
        width: 40%;
    }

    .contenido__slider h2{
        font-size: 18px;
    }
}

@media screen and (max-width: 750px){
    .contenido__slider > img{
        width: 360px;
    }

    .contenido__slider{
        flex-direction: column-reverse;
    }

    .contenido__slider > div{
        width: 80%;
    }

    .contenido__slider h2{
       /* font-size: 23px;*/
    }
}